<!DOCTYPE html>
<html>
<head>
    <title>Calculation History</title>
</head>
<body>
    <h1>Calculation History</h1>

    <table>
        <tr>
            <th>Calculation</th>
        </tr>
        {% for calculation in history %}
        <tr>
            <td>{{ calculation }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
<!DOCTYPE html>
<html>
<head>
    <title>Calculation History</title>
</head>
<body>
    <h1>Calculation History</h1>

    <table>
        <tr>
            <th>Calculation</th>
        </tr>
        {% for calculation in history %}
        <tr>
            <td>{{ calculation }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <a href="/">Back to Calculator</a>
</body>
</html>
    <a href="/">Back to Calculator</a>
</body>
</html>